@import '../../styles/_variables.scss';

.content {

  button {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 1rem;
    padding: 0 2rem;
    border-radius: 1rem;
    border: 0px;
    font-size: 1.2em;
    background-color: $secondary-color;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    line-height: 2rem;
  }
}
