@import "../styles/_variables.scss";
@import "../styles/_mixins.scss";

.main {
  background-color: $main-color;
  color: #fff;
}
.header-container {
  margin: 0 auto;
  max-width: $desktop-container;
  padding: 3rem 1rem 1rem;

  h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2.5rem;
    margin: 0;
  }
  p {
    text-align: right;
    margin: 1rem 0 0;
    font-style: oblique;
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin: 1rem 0 0;
    }
  }
  @include mobile() {
    max-width: $mobile-container;
  }
}
