@import '../styles/_variables.scss';
@import '../styles/_mixins.scss';

.form {
  display: grid;
  max-width: 100%;
  margin: auto 0;
  grid-template-rows:
    auto auto auto auto auto auto auto auto auto auto auto 1fr;
  gap: 24px;
  grid-template-areas: 
    "head head head head head head"
    "house house house house house house"
    "number number number number priority priority"
    "customer customer customer email email email"
    "artwork artwork artwork artwork artwork artwork"
    "link link link link link link"
    "quantity quantity laminate laminate laminate laminate"
    "height height width width unit unit"
    "machine machine machine status status status"
    "upc upc upc orderDate orderDate orderDate"
    "notes notes notes notes notes notes"
    "submit submit submit submit submit submit";
  border: 2px solid $secondary-color;
  border-radius: 2em;
  padding: 2em;
  min-height: 50vh;
  font-size: 1.2rem;

  @include mobile() {
    grid-template-rows: repeat(19 auto-fit);
    grid-template-areas:
      "head"
      "house"
      "number"
      "priority"
      "customer"
      "email"
      "artwork"
      "link"
      "quantity"
      "laminate"
      "height"
      "width"
      "unit"
      "machine"
      "status"
      "upc"
      "orderDate"
      "notes"
      "submit"
  }

  .head {
    grid-area: head;
  }
  .in-house {
    grid-area: house;
    text-align: center;
  }
  .order-number {
    grid-area: number;
  }
  .customer {
    grid-area: customer;
  }
  .email {
    grid-area: email;
  }
  .artwork {
    grid-area: artwork;
  }
  .link {
    grid-area: link;
  }
  .quantity {
    grid-area: quantity;
  }
  .machine {
    grid-area: machine;
  }
  .laminate {
    grid-area: laminate;
  }
  .height {
    grid-area: height;
  }
  .width {
    grid-area: width;
  }
  .unit {
    grid-area: unit;
  }
  .priority {
    grid-area: priority;
  }
  .status {
    grid-area: status;
  }
  .upc {
    grid-area: upc;
  }
  .order-date {
    grid-area: orderDate;
  }
  .notes {
    grid-area: notes;
  }
  .submit {
    grid-area: submit;
  }

  h1 {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  input,
  select,
  textarea {
    padding: .25em;
    width: 100%;
    text-indent: .5em;
    border-radius: .5em;
    border: 1px solid $main-color;
    font-size: inherit;

    &:focus {
      border-radius: .5em;
      border: 2px solid $secondary-color;
      outline: none;
    }
  }
  input[type="checkbox"] {
    min-height: 1.3em;
  }
  button {
    display: block;
    margin: 0 auto;
    width: 30vw;
    margin: auto auto;
    background-color: $secondary-color;
    color: #fff;
    border-radius: 1em;
    font-size: 1.1em;
    font-weight: 500;
    padding: .5em;

    &:focus {
      border-radius: 1em;
      border: 3px solid #000;
      outline: none;
    }
  }
  .description {
    margin: 0 auto;
    min-width: 100%;
    text-align: center;
    font-style: oblique;
    font-size: 1rem;
  }
  @include tablet() {
    input,
    select,
    textarea {
      min-width: 100%;
    }
    button {
      margin-top: 1rem;
    }
  }
}
