@import '../styles/_variables.scss';
@import '../styles/_mixins.scss';
$highlight-rush: #ffcaca;
$highlight-reprint: #ffe8a6;
$inner-row: rgba(0, 0, 0, 0.2);

.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    text-transform: capitalize;
    background-color: $main-color; 
    color: #fff;
  }
  tbody {
    tr {
      &.odd {
        background: #CCC;
      }
      &.rush {
        background: $highlight-rush;
      }
      &.reprint {
        background: $highlight-reprint;
      } 
      div.button-row {
        display: flex;
        justify-content: flex-end;

        button {
          background-color: $secondary-color;
          color: #fff;
          text-transform: uppercase;
          margin: 0 2em 1em;
          padding: .3em 1em;
          border-radius: .3em;
          border: none;
        }
      }
      div.nested-table {
        width: 60%;
        margin: 1em auto;
        padding-top: 1em;

        h3,
        h4 {
          font-weight: 500;
          text-align: center;
          padding: .2em;
          margin: 0 auto;

          a {
            text-decoration: underline;
          }
        }
        table {
          width: 100%;
          border: 1px solid $inner-row;
          
          tr:nth-child(even) {
            background-color: $inner-row;
          }
          th {
            text-align: left;
            padding-left: 1em;
            font-weight: 500;
          }
        }
      }
    }
  } 
  .hidden {
    display: none;
  }
  td {
    padding: .2rem;
    text-transform: capitalize;

    &.email {
      text-transform: lowercase;
    }
    ul {
      list-style: none;

      .nested {
          width: 96%;
          margin-left: 1em;
          background-color: rgba(0, 0, 0, 0.05);

        thead {
          color: $main-color;
          background-color: inherit;
          font-weight: 500;
          border-bottom: 1px solid $main-color;
        }
        tr {
          &:nth-child(odd) {
            background-color: rgba(0, 0, 0, 0.06);
          }
        }
      }
      span {
        font-weight: 500;
      }
    }
  }
  @include tablet() {
    .hide-tablet {
      display: none;
    }
  }
  @include mobile() {
    .hide-mobile {
      display: none;
    }
  }  
}
